<body class="sb-nav-fixed">
    <%= render 'shared/header' %> 
    <div id="layoutSidenav">
        <%= render 'shared/side_nav' %> 
        <div id="layoutSidenav_content">
            <header class="bg-secondary py-5">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="text-center text-black">
                        <h1 class="display-4 fw-bolder">Fashion Tweet</h1>
                        <p class="lead fw-normal text-black-50 mb-0">Baby, Kids向けトータルファッションサイト</p>
                    </div>
                </div>
            </header>
            <main>
                <section class="py-5">
                    <div class="pick-up-slide text-center">
                        <h1 class="display-5 text-black-50 mb-0">Results</h1>
                    </div>
                    <div class="container px-4 px-lg-5 mt-5">
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            <%= render partial: "photo", collection: @photos %>
                        </div>
                    </div>
                </section>
            </main>
            <%= render 'shared/footer' %> 
        </div>
    </div>
</body>